@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #393E41;
}

.master {
  font-weight: bold;
}

.board {
  width: 100%;
  table-layout: fixed;
  font-size: 1.2em;
  border-spacing: 8px;
  transition: opacity 0.3s ease;
}

.board.disabled {
  opacity: 0.7;
}

.board td {
  text-align: center;
  height: 7vw;
  padding: 4px;
  background: #F6F7EB;
  transition: all .3s ease;
}

.board td.team0 {
  background: #DA4167;
  color: #fff;
}

.board td.team1 {
  background: #3F88C5;
  color: #fff;
}

.board td.neutral {
  background: #F6D8AE;
}

.board td.black {
  background: #393E41;
  color: #fff;
}

.board td.revealed {
  background: transparent;
}

.board td.revealed.team0 {
  color: #DA4167;
}

.board td.revealed.team1 {
  color: #3F88C5;
}

.board td.revealed.neutral {
  color: #F6D8AE;
}

.board td.revealed.black {
  color: #393E41;
}

button.transparent {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
}
